.grid-bg {
  background-image: url(./assets/grid.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  background-clip: border-box;
  background-repeat: repeat;
}
